# Core Django
Django==5.2.4

# Dependencies
asgiref==3.8.1
beautifulsoup4==4.13.4
cffi==1.17.1
django-bootstrap4==25.1
django-braces==1.17.0
misaka==2.1.1
pycparser==2.22
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.0
